*{
  box-sizing:border-box;
  font-family: Arial, sans-serif;
}

body{
  background:#f2f2f2;
  margin:0;
  padding:0;
}

.container{
  max-width:420px;
  margin:auto;
  background:#fff;
  padding:20px;
  border-radius:10px;
  margin-top:20px;
  box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.logo{
  width:90px;
  display:block;
  margin:0 auto 10px;
}

h2,h3{
  text-align:center;
}

label,p{
  font-weight:600;
}

input,select,textarea{
  width:100%;
  padding:8px;
  margin-top:6px;
  margin-bottom:12px;
  border-radius:5px;
  border:1px solid #ccc;
}

textarea{
  resize:none;
  height:70px;
}

.rating{
  display:flex;
  justify-content:space-between;
  margin-bottom:15px;
}

.rating input{
  transform:scale(1.3);
}

.teacherBlock{
  border:1px solid #ddd;
  padding:12px;
  border-radius:8px;
  margin-bottom:15px;
}

button{
  width:100%;
  padding:12px;
  background:#4CAF50;
  color:white;
  border:none;
  border-radius:6px;
  font-size:16px;
  cursor:pointer;
}

button:hover{
  background:#43a047;
}

#addTeacher{
  background:#2196F3;
  margin-bottom:15px;
}

#addTeacher:hover{
  background:#1e88e5;
}

.credit{
  text-align:center;
  font-size:13px;
  opacity:0.7;
  margin:20px 0;
}

.credit a{
  color:black;
  text-decoration:none;
}
